body
{
    background-color: rgb(43, 226, 180);
}
h2
{
    color: beige;
    text-align: center;
}
p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}